  * {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", arial, sans-serif;
}

header {
  height: 50px;
  background-color: black;
}

.max-width {
  margin: 0 250px;
  position: relative;
}

.max-width::after {
  clear: both;
  content: "";
  display: block;
}

#header-logo {
  float: left;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

#header-logo p {
  margin: 10px 0;
}

span {
  color: #5FC3AC;
}

#header-menu {
  float: right;
  margin: 10px;
}

#header-menu li {
  display: inline-block;
  list-style: none;
  color: white;
  font-weight: 400;
  font-size: 20px;
  padding-left: 45px;
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: black;
  top: 55px;
  list-style: none;
  margin: 0 auto;
}
.menu li:hover .sub-menu {
display: block;
list-style: none;
}
ul ul:after {
    margin-left: -60px;
}
ul ul::after{
position: absolute;
    left: 50%;
    top: -16px;
    width: 0px;
    height: 0px;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
}

/*Style for section banner*/

#banner {
  background-image: linear-gradient(white, #D0D0D7);
  height: 450px;
  width: 100%
}
.slider-button{
  position: absolute;
}
.slider-button a{
  text-decoration: none;
  color: #5FC3AC;
  font-size: 80px;
}
.slider-button #LT{
  bottom: -250px;
  left: 0px;
position: absolute;
}
.slider-button #GT{
  bottom: -250px;
  left:  882px;
position: absolute;
}
.medium-box {
  display: inline-block;
  width: 49%;
  margin: 0 auto;
  vertical-align: top;
}

.black-chair {
  padding-top: 60px;

}
.content-medium-box{
  margin-right: 80px;
}
.medium-box h1 {
  padding-top: 110px;
  font-size: 40px;
  text-align: center;
}

.medium-box p {
  text-align: center;
  color: gray;
  padding-top: 18px;
}

#button-showmore {
  width: 400px;
  background-color: #5FC3AC;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 0px;
}

#button-showmore p {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 400;
  height: 40px;
}


/*style for section products*/

#products {
  height: 350px;
  width: 100%
}

.small-box {
  vertical-align: top;
  margin-top: 30px;
  display: inline-block;
  width: 30%;
  position: relative;
}

.last{
  float: right;
}
.center{
  margin-left: 42px;
}

.img{
  background-image: url("../images/box1_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}
.img2{
  background-image: url("../images/box2_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}
#text-on-img {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 30px;
  width: 100%;
  padding: 15px 0;
}

#text-on-img p {
  vertical-align: bottom;
  font-size: 15px;
  border-bottom: 8px solid #5FC3AC;
  width: 130px;
  margin-left: 10px;
}

.content {
  border: 1px solid lightgrey;
  padding-left: 20px;
}

.content p:first-of-type {
  margin-top: 20px;
  font-size: 15px;
  border-bottom: 8px solid #5FC3AC;
  width: 130px;
}

.content p:nth-of-type(2) {
  padding: 20px 0;
  font-size: 15px;
  color: grey;
}

.content p:nth-of-type(3) {
  padding-bottom: 50px;
  font-size: 15px;
  color: grey;
}


/*style for section lap*/

#laps {
  height: 700px;
  width: 100%;
  background-color: #F1F1F1;
}

.title {
  padding-top: 40px;
}

.title p {
  font-size: 20px;
  height: 40px;
  border-bottom: 8px solid #5FC3AC;
  width: 300px;
}

#laps .small-box {
  margin-top: 80px;
}

.border-lap {
  height: 450px;
  border: 1px solid lightgrey;
  background-color: #F9F9F9;
}
.border-lap:hover{
  background-color: #5FC3AC;

  position: relative;
}
.border-lap:hover .button-buy{
background-color: white;

}
.border-lap:hover tr:nth-of-type(odd){
  background-color: white;
}
.border-lap:hover tr:nth-of-type(even){
  background-color: lightgrey;
}
.border-lap:hover h2{
  color: white;
}
.border-lap:hover .button-buy p{
  color: #5FC3AC;
}
.border-lap:hover .circle-outter{
  background-color: #5FC3AC;
  border: none;
  position: absolute;
}
.border-lap:hover .circle-inner{
  background-color: white;}

.circle-outter {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: #F9F9F9;
}

.circle-inner {
  background-color: #C2C2C2;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.border-lap h2 {
  color: #5FC3AC;
  padding: 20px 0px;
  text-align: center;
}

.circle-price {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
  margin: 0 auto;
  background-color: white;
}

.circle-price p {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: #C2C2C2;
}

.circle-price p sup {
  font-size: 12px;
}

.circle-price p span {
  font-size: 10px;
  display: block;
  color: #C2C2C2;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  color: #654321;
}

tbody td {
  text-align: center;
  padding: 5px 0px;
}

tbody tr:nth-of-type(odd) {
  background-color: #E4E4E4;
  border: 1px solid #E4E4E4;
}

tbody tr:nth-of-type(even) {
  background-color: #F1F1F1;
  border: 1px solid #F1F1F1;
}

.button-buy {
  width: 100px;
  background-color: #5FC3AC;
  position: absolute;
  height: 30px;
  border-radius: 5px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.button-buy p {
  color: white;
  text-align: center;
  margin-top: 5px;
}


/*style fot section forms*/

#forms {
  height: 500px;
  width: 100%;
}
.form{
  margin-top: 30px;
  position: relative;
}
.title p {
  font-size: 20px;
  height: 40px;
  border-bottom: 8px solid #5FC3AC;
  width: 300px;
}
*::-webkit-input-placeholder {
  color: lightgrey;
  padding-left: 5px;
  padding-top: 8px;
  font-size: 20px;
}

input[type="text"],input[type="email"], textarea {
  display: block;
  margin-top: 10px;
  border: 1px solid rgba(179, 233, 213, 0.7);
  height: 40px;
  width: 580px;
  font-size: 20px;
}
label{
  float: right;
}
input[type="checkbox"]{
position: absolute;
top:150px;
right: 265px;

}
input[type=checkbox]:before {
  content:"";
  display:block;
  width:30px;
  height:30px;
  background:white;
  border: 1px solid #5FC3AC;
 }
 input[type=checkbox]:checked:before {
   background-image: url("../images/form_ok.jpg");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
 }
.form img{
  width: 180px;
  height: 150px;
  position: absolute;
  top:-20px;
  right: 100px;
}
  textarea{
  	resize: none;
    height: 160px;
}
.button1{
  float: right;
}
label{
  position: absolute;
  top: 152px;
  right: 35px;
  font-size: 14px;
  color: lightgrey;
}
label span{
  display: block;
  color: lightgrey;
}
.button-send{
    background-color: #5FC3AC;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 280px;
    height: 45px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 22px
  }
  .button-send:hover{
    background-color: white;
    color: #5FC3AC;
    border: 1px solid #5FC3AC;

  }
.copy{
  margin-top: 20px;
  float: left;
  margin-bottom: 50px;
}
.copy p{
  color: lightgrey;
  font-size: 12px;
}
.social-media {
  margin-right: 200px;
}
.social-media img{
  display: inline;
  height: 20px;
  width: 20px;
  float: right;
}
.footer-logo p{
  font-size: 18px;
  color: lightgrey;
  float: right;
}
.footer-logo p strong{
  color: grey;
}
